gemini.api.key=your_gemini_key_here
gemini.api.base-url=https://generativelanguage.googleapis.com
gemini.api.model=gemini-flash-latest

spring.datasource.url=your_database_url
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update

jwt.secret=your_jwt_secret
jwt.expiration-ms=access_token_expiration_time
jwt.refresh-expiration-ms=refresh_token_expiration_time

pagination.default-page-size=10
pagination.max-page-size=100
pagination.default-sort-parameter=createdAt
pagination.default-sorting-order=descending
